.boton
{
    background-color: #9c279c;
    color: white;
    padding: 10px 20px;
    font-size: 10px;
    border-radius: 8px;
    transition: background-color 0.5x ease-in-out;

}
.boton
{
    background-color: darkorange;

}