@keyframes mover {
    0% {
        transform: translateX(0);
        background-color: red;
    }
    50% {
        transform: translateX(150px);
        background-color: blue;
    }
    100% {
        transform: translateX(0);
        background-color: yellow;
    }
}

.Caja {
    width: 200px;
    height: 100px;
    background-color: aqua;
    animation: mover 3s infinite ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 8px;
    font-weight: bold;
}
